node_modules/
package-lock/json
cypress/videos/
cypress/screenshots/
cypress/downloads/
.cache/
cypress/.cache/
logs/
npm-debug.log*
package-lock.json
yarn.lock
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln